external/
.vs/
.gitignore.bak
*.obj
*.tlog
*.pdb
*.obj
*.tlog
*.log
*.ilk
*.tlog
*.obj
*.xml
*.sln
*.obj
*.pdb
*.vcxproj
*.ewe
*.sln
inModels/
output/
build/
.env.cmake
*.dll
*.bak
AssimpLog.txt
New Text Document.txt
*.log
x64/